<!--********************************footer*****************************************-->
    
<div id="footer" class="shadow">
	<div id="explore-links">
    	<h1>explore our links</h1>
        <ul>
        	<li><a href="about-us.php">About us</a></li>
            <li><a href="services.php">Services</a></li>
            <li><a href="help.php">Help</a></li>
            <li><a href="news.php">News</a></li>
            <li><a href="home-viop.php">HomesVoIP Connect</a></li>
            <li><a href="faq.php">FAQ</a></li>            
            <li><a href="testimonial.php">Testimonials</a></li>
            <li><a href="access-connect.php">AccessConnect</a></li>
            <li><a href="contact-us.php">Contact</a></li>
            <li><a href="products.php">Products</a></li>
            <li><a href="sales.php">Sales</a></li>
            <li><a href="privacy-policy.php">Privacy Policy</a></li>
        </ul>
    </div><!-- explore-links -->
    
    <div id="stay-in-touch">
    	<h1>stay in touch</h1>
        <div id="logos">
        	<a href="#"><img src="images/logos/in.png" alt="Linked In" title="Linked In" /></a>
            <a href="#"><img src="images/logos/facebok.png" alt="Facebook" title="Facebook" /></a>
            <a href="#"><img src="images/logos/twitter.jpg" alt="Twitter" title="Twitter" /></a>
            <a href="#"><img src="images/logos/d.png" alt="Flickr" title="Flickr" /></a>
            <a href="#"><img src="images/logos/you.png" alt="Youtube" title="Youtube" /></a>
        </div><!-- logos -->
        <div id="call-us">
        	<p class="phone-no" style="font-size:18px;">+1(111)111-1111</p>
      </div><!-- call-us -->
    </div><!-- stay-in-touch -->
    
    <div id="footer-menu-container" class="round-corners-bottom">
        <div id="left-corner"><img src="images/left-cornor.png" alt="Left Corner" /></div>
        
        <div id="footer-menu-copyright">
                <div id="footer-menu">
                    <ul>
                        <li><a href="index.php">home</a></li>
                        <li><a href="about-us.php">about us</a></li>
                        <li><a href="testimonial.php">testimonial</a></li>
                        <li><a href="privacy-policy.php">privacy policy</a></li>
                        <li class="right-border"><a href="contact-us.php">contact us</a></li>
                    </ul>
                
                </div><!-- footer-menu -->
                <div id="copyright">
                    <p>VOIP<em>on</em>TEL &copy; Copyright 2011. All right reserved.</p>
          </div><!-- copyright -->
         </div><!-- footer-menu-copyright -->
         
         <div id="right-corner"><img src="images/right-corner.png" alt="Right Corner" /></div>
     </div><!-- footer-menu-container --> 
    

</div><!-- footer -->    

</body>
</html>