<title>VOIPonTEL</title>
<%= javascript_include_tag 'jquery.min','jquery-ui-1.8.5.custom.min','simplegallery' %>


<script type="text/javascript">
jQuery(document).ready(function(){
  	 jQuery("#tabs").tabs();
});
</script>  
<%= stylesheet_link_tag 'reset','style' %>


<!--[if IE]>
<link href="css/style-ie.css" rel="stylesheet" type="text/css" />
<![endif]-->